<tr class="fields">	
	<td class="contact_title"><%= contact.title %></td>
	<td class="first_name"><%= contact.first_name %></td>
	<td class="last_name"><%= contact.last_name  %></td>
	<td class="phone"><%= contact.phone  %></td>
	<td class="fax"><%= contact.fax  %></td>
	<td class="cell"><%= contact.cell  %></td>
	<td class="email"><%= contact.email  %></td>
</tr>

