      	<li>
          <div>
            <%= f.label :street1, "Address", class: 'wide' %>
            <%= f.text_field :street1, placeholder: "Street", class: 'span6'  %>     
            <%= f.text_field :street2, placeholder: "Street", class: 'span6' %>
          </div>

          <div class="form-inline">      
            <%= f.text_field :city, placeholder: "City", class: 'span3' %>
            <%= f.text_field :state, placeholder: "State", class: 'span1'%>      
            <%= f.text_field :zip, placeholder: "Zip Code", class: 'span2' %>
          </div>    

          <%= f.select :types, 
              options_for_select(["sales", "manufacturing", "billing"], f.object.types),{},
              {:multiple => true } %>                          

          <%= f.link_to_remove "Remove this address" %>
        	<br>
			            	
      	</li>