      <table id="contacts_table" class="table table-striped table-bordered sortable">

        <tr>
          <th class="contact_title"><%= sortable "title", "Title" %></th>
          <th class="first_name"><%= sortable "first_name", "First Name" %></th>
          <th class="last_name"><%= sortable "last_name", "Last Name" %></th>
          <th class="phone current asc"><%= sortable "phone", "Phone Number" %></th>
          <th class="fax"><%= sortable "fax", "Fax Number" %></th>
          <th class="cell"><%= sortable "cell", "Cell Number" %></th>
          <th class="email"><%= sortable "email", "Email Address" %></th>
        </tr>
        <%= render @vendor.contacts.order(sort_column + " " + sort_direction) %>
      </table>

