      	<li>
      		<%= addresses_form.label :street1 %>
        	<%= addresses_form.text_field :street1 %>

        	<%= addresses_form.label :street2 %>
        	<%= addresses_form.text_field :street2 %>

        	<%= addresses_form.label :city %>
        	<%= addresses_form.text_field :city %>

        	<%= addresses_form.label :state %>
        	<%= addresses_form.text_field :state %>

        	<%= addresses_form.label :zip %>
        	<%= addresses_form.text_field :zip %>

        	<br>
			    <%= addresses_form.check_box :_destroy %>
			    Remove        	
      	</li>