<div id="address_<% address.id %>" class="row">
  <div class="span6">
    <%= form_for(address, remote: true) do |f| %>

      <div>
        <%= f.label :street1, "Address", class: 'wide' %>
        <%= f.text_field :street1, placeholder: "Street", class: 'span6'  %>     
        <%= f.text_field :street2, placeholder: "Street", class: 'span6' %>
      </div>

      <div class="form-inline">      
        <%= f.text_field :city, placeholder: "City", class: 'span3' %>
        <%= f.text_field :state, placeholder: "State", class: 'span1'%>      
        <%= f.text_field :zip, placeholder: "Zip Code", class: 'span2' %>
      </div>

      <%= f.submit "Save Address", class: "btn btn-large btn-primary" %>

    <% end %>

  </div>
</div>